@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanovacond-extrabld-webfont.woff2') format('woff2'),
       url('../fonts/proximanovacond-extrabld-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanovacond-regular-webfont.woff2') format('woff2'),
       url('../fonts/proximanovacond-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proximanovacond-semibold-webfont.woff2') format('woff2'),
       url('../fonts/proximanovacond-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

*, *::before,*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-top: 30px;
  font-family: 'ProximaNova';
  font-size: 15px;
  line-height: 1.25;
  font-weight: 400;
  color: #242424;
  background-color: #ffffff;
}

body.thanks {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width:1230px;
  margin: 0 auto;
  padding: 0 30px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  
}

.btn {
  display: inline-block;
  min-width: 185px;
  padding: 15px 25px;
  font: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f73d31;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f94c40;
}

.section-title {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

/* HEADER */

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.contacts__link {
  display: block;
  color: #242424;
  text-align: right;
  text-decoration: none;
}

.contacts__link--phone {
  margin-bottom: 5px;
  font-size: 21px;  
}

.call {
  position: relative;
}

.contacts__link--feedback {
  width: 100%;
  padding: 9px 15px 9px 40px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.contacts__link--feedback::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 18px;
  height: 19px;
  background: url(../img/general/phone.png) center no-repeat;
}

.contacts__link--feedback:hover,
.contacts__link--feedback:focus {
  border-color: #f73d31;
}

.contacts__form {
  display: none;
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 50%;
  width: 265px;
  margin-left: -132px;
  padding: 30px;
  padding-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);
          box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);  
}

.contacts__form::before {
  content: '';
  position: absolute; 
  left: 50%;
  top: 0;
  background: #ffffff url(../img/general/feedback-phone.png)  center center no-repeat;
  margin-left: -30px;
  width: 60px;
  height: 45px;
  z-index: 1;
}

.contacts__form::after {
  content: '';
  position: absolute; 
  left: 50%;
  top: -12px;
  background: #ffffff;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);
          box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24); 
  z-index: 0;  
  -webkit-transform: rotate(45deg);  
          transform: rotate(45deg);    
}

.feedback__field {
  margin: 0;
  margin-bottom: 15px;
}

.feedback__field:last-child {
  margin-bottom: 0;
}

.feedback__field-input {
  width: 100%;
  padding: 10px;
  padding-left: 45px;
  color: #b9b9b9; 
  background-color: #f4f4f4;
  border-radius: 5px;
  border: none;
}

.feedback__field-input--user {
  background: #f4f4f4 url(../img/general/feedback-user.png) 15px center no-repeat;
}

.feedback__field-input--phone {
  background: #f4f4f4 url(../img/general/feedback-hash.png) 15px center no-repeat;
}

.feedback__submit {
  max-width: 205px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}

/* SALE */

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  background: url(../img/general/sale-bg.png) center 230px no-repeat,
  url(../img/general/sale-text-bg.png) center 25% no-repeat;
}

.sale__title {
  max-width: 570px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 65px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.sale__title span {
  color: #f73d31;
}

.sale__sub-title {
  margin: 0;
  margin-bottom: 290px;
  font-size: 24px;
  font-weight: 400;
}
.sale__form {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  padding: 70px;
  padding-bottom: 40px;
  text-align: center;
  background: #ffffff url(../img/general/ornament.png) top repeat-x;  
  -webkit-box-shadow: 0px 4px 16.74px 1.26px rgba(0, 1, 2, 0.24);  
          box-shadow: 0px 4px 16.74px 1.26px rgba(0, 1, 2, 0.24); 
}

.sale__form-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.sale__form-title::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../img/general/modal-car.png);
}

.sale-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.sale-form__field {
  width: 185px;
  height: 50px;
  margin: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.sale-form__field-select,
.sale-form__field-input {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-weight: 600;
  color: #b9b9b9;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
}

.sale-form__field-input::-webkit-input-placeholder {
  color: #b9b9b9;
}

.sale-form__field-input:-ms-input-placeholder {
  color: #b9b9b9;
}

.sale-form__field-input::-ms-input-placeholder {
  color: #b9b9b9;
}

.sale-form__field-input::placeholder {
  color: #b9b9b9;
}

.sale-form__field-select option {
  color: #242424;
  background-color: #fff;
}

.sale-form__submit {
  width: 100%;
}

/* WORK */

.work {
  position: relative;
  min-height: 725px;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 100px;
  background: url(../img/general/man.png) center bottom no-repeat, url(../img/general/work-text-bg.png) center 71% no-repeat;    
  background-color: #f4f4f4;
}

.work__sub-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 970px;
  margin: 0 auto;
  background:url(../img/general/work-lines.png) center 40px no-repeat;
}

.work__item {
  padding: 140px 15px 0; 
  width: 125px;
  text-align: center;
}

.work__item--application {
  margin-top: 65px;
  background: url(../img/general/work-step-1.png) center top no-repeat;
}

.work__item--connect {
  background: url(../img/general/work-step-2.png) center top no-repeat;
}

.work__item--inspect {
  margin-top: 65px;
  background: url(../img/general/work-step-3.png) center top no-repeat;
}

/* BONUS */

.bonus {
  text-align: center;
  margin-bottom: 100px;
}

.bonus__title {
  margin-bottom: 70px;
}

.bonus__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.bonus-item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px; 
}

.bonus-item__img {
  position: relative;
  width: 270px;
  height: 250px;
  margin: 0;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.bonus-item__img::before,
.bonus-item__img::after {
  content: "";
  width: 170px;
  height: 168px;
  position: absolute;
  z-index: -1;
}

.bonus-item__img::before {
  top: 0;
  right: 0;
  background: #2dbe60 url(../img/general/bonus-bg-top.jpg);
}

.bonus-item__img::after {
  bottom: 0;
  left: 0;
  background: #ff564f url(../img/general/bonus-bg-bottom.jpg);
}

.bonus-item:last-child .bonus-item__img::before,
.bonus-item:last-child .bonus-item__img::after {
  background-image: none;
}

.bonus-item__img img {
  border-radius: 5px;
}

.bonus-item__text {
  padding: 0 15px;
}

/* REVIEW */

.review {
  text-align: center;
  margin-bottom: 100px;  
  background: #f4f4f4;
}

.review .container {
  padding: 100px 0;
  background: url(../img/general/review-quotes-bg.png) left 90% no-repeat;
}

.review__title {
  margin-bottom: 70px;
}

.review__slider {
  position: relative;
  max-width: 1170px;
  margin-bottom: 85px;
  padding: 0 100px;
}

.slider__control {
  position: absolute;
  top: 50%;
  width: 21px;
  height: 33px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider__control--prev {
  left: 30px;
  background: url(../img/general/arrow-left.png) center no-repeat;
}

.slider__control--prev:hover {
  background: url(../img/general/arrow-left-hover.png) center no-repeat;
}

.slider__control--next {
  right: 30px;
  background: url(../img/general/arrow-right.png) center no-repeat;
}

.slider__control--next:hover {
  background: url(../img/general/arrow-right-hover.png) center no-repeat;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item {
  position: relative;
  max-width: 470px;
  margin: 0 15px;
  padding-top: 100px;
  text-align: center;
  background: url(../img/general/quotes.png) center top no-repeat;
}

.slide__text {
  margin: 0;
  margin-bottom: 35px;
}

.slide__name {
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #f73d31;
}

.slide__date {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 600;
}

.slide__answer-link {
  position: relative;
  display: inline-block;
  padding: 5px 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: #242424;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #b9b9b9;;
}

.slide__answer-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;  
  width: 26px;
  height: 25px;
  background: url(../img/general/blockquote.png) center no-repeat;
}

.slide__answer-link:hover + .answer {
  display: block;
}

.answer {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: 60px;
  display: none;
  max-width: 300px;
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);
          box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);
}

.answer::before {
  content: '';
  position: absolute; 
  left: 50%;
  bottom: 0;
  background: #ffffff;
  margin-left: -25px;
  width: 50px;
  height: 25px;
  z-index: 1;
}

.answer::after {
  content: '';
  position: absolute; 
  left: 50%;
  bottom: -12px;
  background: #ffffff;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);
          box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24); 
  z-index: 0;  
  -webkit-transform: rotate(45deg);  
          transform: rotate(45deg);    
}

.answer__text {
  margin: 0;
  margin-bottom: 45px;
}

.answer__text-ps span {
  display: block;
  padding: 0;
  font-weight: 600;
  text-transform: uppercase;
}

/* FEATURES */

.features {
  margin-bottom: 100px;
  text-align: center;
}

.features__title {
  margin-bottom: 70px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.features__item {
  position: relative;
  width: 370px;
  min-height: 340px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 35px 85px 145px 35px;
  text-align: left;
  background: #f4f4f4;
  border-radius: 5px;
}

.feature__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f73d31;
}

.feature__text {
  margin: 0;
}

.feature::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 30px;
  font-size: 275px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(185, 184, 184, .13);
}

.feature--easy::before {
  content: "У";
}

.feature--profitably::before {
  content: "В";
}

.feature--safely::before {
  content: "О";
}

.feature::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
}

.feature--easy::after {
  width: 231px;
  height: 135px;
  background: url(../img/general/feature-easy.png);
}

.feature--profitably::after {
  width: 148px;
  height: 181px;
  background: url(../img/general/feature-profitably.png);
}

.feature--safely::after {
  bottom: -105px;
  width: 147px;
  height: 239px;
  background: url(../img/general/feature-safely.png);
}

/* ASSESS */

.assess {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding: 50px 170px;
  text-align: center;
  background: #f73d31 url(../img/general/assess-form-bg.png) no-repeat;
  border-radius: 5px;
}

.assess::after {
  content: "";
  position: absolute;
  left: -75px;
  bottom: -70px;
  width: 263px;
  height: 197px;
  background-image: url(../img/general/assess-car.png);
}

.assess__title {
  margin: 0;
  margin-bottom: 5px;
  color: #ffffff;
}

.assess__sub-title {
  margin: 0;
  margin-bottom: 45px;
  color: #ffffff;
  font-weight: 600;
}

.assess .sale-form__submit {
  color: #242424;
  background-color: #fdd122;
}

.assess .sale-form__submit:hover {
  background-color: #f5c70f;
}

/* FOOTER */

.main-footer {
  padding: 30px 0;
  color: #ffffff;
  background-color: #272727;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
}

.main-footer__copyright {
  font-size: 17px;
}

.main-footer__copyright span {
  color: #f73d31;
}

.main-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.main-footer__contacts .contacts__link--phone {
  color: #ffffff;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main-footer__contacts .contacts__link--feedback {
  color: #ffffff;
  border-color: #ffffff;
}

.main-footer__contacts .contacts__link--feedback:hover,
.main-footer__contacts .contacts__link--feedback:focus {
  border-color: #f73d31;
}

.main-footer .contacts__form {
  top: auto;
  bottom: 60px;
  left: 100px;
  padding: 30px;
  padding-bottom: 50px;
}

.main-footer .contacts__form::before {
  top: auto;
  bottom: 0px;
}

.main-footer .contacts__form::after {
  top: auto;
  bottom: -10px;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); 
  z-index: 10;
}

.review__form {
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  padding: 60px 100px;
  text-align: center;
  border-radius: 5px;
  background: #ffffff url(../img/general/ornament.png) center top repeat-x;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);
          box-shadow: 0px 2px 16.74px 1.26px rgba(0, 1, 2, 0.24);
}

.review-form {
  text-align: left;
}

.review__form-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.review-form__field {
  margin-bottom: 15px;
}

.review-form__field:last-child {
  margin-bottom: 0;
}

.review-form__field-input {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-weight: 600;
  color: #b9b9b9;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
}

textarea.review-form__field-input {
  min-height: 200px;
}

.review-form__field-input::-webkit-input-placeholder {
  color: #b9b9b9;
}

.review-form__field-input:-ms-input-placeholder {
  color: #b9b9b9;
}

.review-form__field-input::-ms-input-placeholder {
  color: #b9b9b9;
}

.review-form__field-input::placeholder {
  color: #b9b9b9;
}

.modal-show {
  display: block;
}

.modal__close {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 45px;
  height: 45px;
  font-size: 0;
  border: 0;
  border: 3px solid #f73d31;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  width: 30px;
  height: 3px;
  background-color: #f73d31;
}

.modal__close::before {
  -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
}

.modal__close::after {
  -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.modal-overlay {
  display: none;  
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* THANKS */

.thanks-wrapper {
  height: 100vh;
  padding: 100px 0;
  background: url(../img/general/ornament.png) left 5% repeat-x,
  url(../img/general/ornament.png) left 95% repeat-x;
  background-color: #ffffff;
}

.thanks__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 170px;
}

.thanks__content {
  text-align: center;
}

.thanks__close {
  position: relative;
  width: 45px;
  height: 45px;
  font-size: 0;
  border: 0;
  border: 3px solid #f73d31;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.thanks__close::before,
.thanks__close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  width: 30px;
  height: 3px;
  background-color: #f73d31;
}

.thanks__close::before {
  -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
}

.thanks__close::after {
  -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.thanks__content-header {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
}

.thanks__content-header span {
  display: block;  
  color: #f73d31;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 992px) {

  .sale {
    background-size: auto, 90%;
    background-position: center 230px, center 130px;
  }

  .sale__form {
    position: relative;
    padding: 30px;
    padding-top: 55px;  
  }

  .sale-form__field {
    max-width: 270px;
    width: 100%;
  }

  .work {
    background-size: auto, 90%;
  }

  .work__list {
    background: none;
  }

  .assess {
    padding: 50px 30px; 
  }

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 768px) {

  .section-title {
    margin-bottom: 75px;
  }

  .sale {
    margin-bottom: 75px;
    background-size: 95%, 90%;
    background-position: center 190px, center 120px;
  }

  .sale__title {
    font-size: 48px;
    line-height: 1.25;
  }

  .sale__sub-title {
    margin-bottom: 270px;
    text-align: center;
    font-size: 23px;
  }

  .sale__form {
    padding: 30px;
    padding-top: 55px;  
  }

  .sale-form__field {
    max-width: 270px;
    width: 100%;
  }

  .work {
    margin-bottom: 75px;
    padding-top: 75px;
    background-size: auto, 90%;
  }

  .work__title {
    margin-bottom: 0;
  }

  .bonus {
    margin-bottom: 75px;
  }

  .review {  
    margin-bottom: 75px;
  }

  .review .container{
    padding: 75px 0;
    background-size: 80%;
  }

  .review__slider {
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .slider__control--prev {
    left: 15px;
  }

  .slider__control--next {
    right: 15px;
  }

  .slider__item {
    width: 100%;
  }

  .answer {
    width: 100%;
    left: 50%;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .assess {
    padding: 40px;
  }

  .assess::after {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .assess__title {
    margin-bottom: 0;
  }

  .assess__sub-title {
    margin-bottom: 50px;  
  }

  .main-footer__brand,
  .main-footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .modal-feedback {
    padding: 70px 30px;
    background-position: left 5%, left 95%;
  }

  .thanks__close,
  .modal__close {
    width: 35px;
    height: 35px;
  }

  .thanks__close::before,
  .modal__close::before {
    top: 13px;
    width: 20px;
  }

  .thanks__close::after,
  .modal__close::after {
    top: 13px;
    width: 20px;
  }

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 600px) {

  .container {
    padding: 0 15px;
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .sale {
    margin-bottom: 60px;
    background-size: 90%, 90%;
    background-position: center 35%, center 15%;
  }

  .sale__title {
    font-size: 42px;
    line-height: 1.25;
  }

  .sale__sub-title {
    margin-bottom: 220px;
    text-align: center;
    font-size: 22px;
  }

  .sale__form {
    padding: 40px;
    padding-top: 60px;  
  }

  .sale-form__field {
    min-width: 185px;
    width: 100%;
  }

  .work {
    margin-bottom: 60px;
    padding-top: 60px;
    background-size: auto, 90%;
  }

  .work__title {
    margin-bottom: 0;
  }

  .bonus {
    margin-bottom: 60px;
  }

  .review {  
    margin-bottom: 60px;
  }

  .review .container{
    padding: 60px 0;
    background-size: 80%;
  }

  .review__slider {
    margin-bottom: 50px;
    padding: 0 40px;
  }

  .slider__control--prev {
    left: 10px;
  }

  .slider__control--next {
    right: 10px;
  }

  .slider__item {
    width: 100%;
  }

  .answer {
    width: 100%;
    left: 50%;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .assess {
    padding: 40px;
  }

  .assess::after {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .assess__title {
    margin-bottom: 0;
  }

  .assess__sub-title {
    margin-bottom: 40px;  
  }

  .main-footer__brand,
  .main-footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .modal-feedback {
    padding: 70px 30px;
    background-position: left 5%, left 95%;
  }

  .thanks__close,
  .modal__close {
    width: 35px;
    height: 35px;
  }

  .thanks__close::before,
  .modal__close::before {
    top: 13px;
    width: 20px;
  }

  .thanks__close::after,
  .modal__close::after {
    top: 13px;
    width: 20px;
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 480px) {
  
  body {
    padding-top: 10px;
    font-size: 16px;
  }

  .container {
    padding: 0 10px;
  }

  .section-title {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .main-header {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }

  .main-header__logo {
    margin-bottom: 15px;
  }

  .logo__img {
    width: 150px;
  }

  .contacts__link--phone {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .contacts__link--feedback {
    text-align: center;
    width: 100%;
  }

  .sale {
    margin-bottom: 50px;
    background-size: 90%, 90%;
    background-position: center 30%, center 85px;
  }

  .sale__title {
    font-size: 32px;
    line-height: 1.25;
  }

  .sale__sub-title {
    margin-bottom: 150px;
    text-align: center;
    font-size: 21px;
  }

  .sale__form-title {
    padding: 0 20px;
  }

  .sale__form {
    padding: 30px;
    padding-top: 50px;  
  }

  .sale-form__field {
    min-width: 185px;
    width: 100%;
  }

  .work {
    min-height: 500px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: none;
  }

  .work__title {
    margin-bottom: 0;
  }

  .work__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 150px;
    margin: 0;
    padding: 0;
    padding-left: 150px;
    font-size: 18px;
    background-position: center left;
  }

  .bonus {
    margin-bottom: 50px;
  }

  .review {
    margin-bottom: 50px;
  }

  .review .container{
    padding: 50px 0;
    background-size: 80%;
  }

  .review__slider {
    margin-bottom: 40px;
    padding: 0 25px;
  }

  .slider__control--prev {
    left: 0;
  }

  .slider__control--next {
    right: 0;
  }

  .answer {
    width: 100%;
    left: 50%;
    margin-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .assess {
    padding: 30px;
  }

  .assess::after {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .assess__title {
    margin-bottom: 0;
  }

  .assess__sub-title {
    margin-bottom: 40px;  
  }

  .main-footer .container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main-footer__brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .main-footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .main-footer .call {
    width: 100%;
    margin-bottom: 10px;
  }

  .review__form {
    padding: 30px;
    padding-top: 50px;
  }

  .review__form-title {
    margin-bottom: 20px;
  }

  .modal-feedback {
    padding: 70px 30px;
    background-position: left 5%, left 95%;
  }

  .thanks__close,
  .modal__close {
    width: 35px;
    height: 35px;
  }

  .thanks__close::before,
  .modal__close::before {
    top: 13px;
    width: 20px;
  }

  .thanks__close::after,
  .modal__close::after {
    top: 13px;
    width: 20px;
  }
}